/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 nov. 2023, 02:09:31
    Author     : PC
*/

.ui-chart-bar {
    fill: #FF5733; /* Couleur pour la première série */
}

.ui-chart-bar:nth-child(2) {
    fill: #33FF57; /* Couleur pour la deuxième série */
}

.ui-chart-bar:nth-child(3) {
    fill: #5733FF; /* Couleur pour la troisième série */
}